  <% if (!login) { %>
    <form action="/login" method="GET" style="margin:20px;">
      <input type="submit" value="Login">
    </form>
     <form action="/register" method="GET" style="margin:20px;">
      <input type="submit" value="Register">
    </form>

  <% } else { %>
      <form action="/logout" method="POST" style="margin:20px;">
        <label for="username"> Welcome <%= user[login].email %> &emsp;</label>
        <input type="submit" value="Logout">
      </form>
    <% } %>