<!DOCTYPE html>
<html lang="en">
<header>
    <% include ./partials/_header %>
</header>
<head>
  <title>TinyApp</title>
</head>
<body>
      <h1> ShortURL: <%= shortURL %> </h1>
        <form action="/urls/<%= shortURL %>/update" method="POST" >
          <label for="longURLUpdate">Enter a URL to Update:</label>
          <input id="longURLUpdate" type="text" name="longURLUpdate"placeholder="<%= urls[shortURL].longurl %>" >
          <input type="submit" value="Update">
        </form>


</body>
</html>